*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: steelblue;
}

.wrapper{
	width: 1000px;
	height: 1200px;
	background-color: white;
	margin: 0px auto;
}

.cabecera{
	margin: 10px;
	margin-bottom: 20px;
	background-color: darkgrey;
	padding: 50px;
	border-radius: 4px;
}

.cuerpo{
	height: 400px;
	margin: 0px auto;
}

.superior{
	height: 150px;
	text-align: center;
	margin-bottom: 20px;
}

.inferior{
	height: 150px;
	text-align: center;
	margin-bottom: 20px;
}

.noticia{
	display: inline-block;
	width: 105px;
	height: 150px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 4px;
}

.titulo{
	text-align: left;
	width: 100px;
	height: 40px;
	background-color: cornflowerblue;
	color: ivory;
}

.texto{
	width: 100px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	background-color: blue;
	color: ivory;
}

.tabla{
	display: table;
	margin: 0px auto;
}

.titulo2{
	text-align: left;
	font-size: 30px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.fila1{
	display: table-row;
	background-color: darkgrey;
	font-weight: bold;
}


.fila{
	display: table-row;
}

.celda{
	display: table-cell;
	padding: 10px;
	border-bottom: 2px solid grey;
}