*{
	margin: 0px;
	padding: 0px;
}

.wrapper{
	margin: 20px;
}

.nom:hover + span{
	color: ivory;
	background-color: black;
}

.peso:hover + span{
	color: ivory;
	background-color: black;
}

.altura:hover + span{
	color: ivory;
	background-color: black;
}