*{
	margin: 0px;
	padding: 0px;
}

.tabla{
	margin: auto;
}

.cabecera{
	width: 200px;
	height: 30px;
}

.celda{
	width: 200px;
	height: 700px;
	
	
}

.cabecera, .celda{
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-family: Arial;
	font-size: 10;
	border: 2px solid black;
}