*{
	margin: 0px;
	padding: 0px;
}

.tabla{
	margin: auto;
}

.celda{
	width: 100px;
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-family: Verdana;
	font-size: 10;
	border: 2px solid black;
}