*{
	margin: 0px;
	padding: 0px;
}

.wrapper{
	width: 1000px;
	height: 1000px;
	margin: auto;
}

.header, .footer{
	width: 996px;
	border: 2px solid black;
	height: 66px;
}

.cuerpo{
	width: 998px;
	border: 1px solid black;
	height: 858px;
}

.col01{
	width: 499px;
	border-right: 1px solid black;
	height: 860px;
}

.col02{
	width: 500px;
	height: 860px;
}