*{
	margin: 0px;
	padding: 0px;
}

.wrapper{
	width: 1200px;
	height: 1000px;
	margin: auto;
}

.header, .footer{
	width: 1196px;
	border: 2px solid black;
	height: 66px;
}

.cuerpo{
	width: 1198px;
	border: 1px solid black;
	height: 858px;
}

.col01, .col02{
	float: left;
	width: 399px;
	border-right: 1px solid black;
	height: 860px;
}

.col03{
	float: left;
	width: 400px;
	height: 860px;
}