*{
	margin: 0px;
	padding: 0px;
}

.wrapper{
	width: 1200px;
	height: 1100px;
	margin: auto;
}

.header, .footer{
	width: 1196px;
	border: 2px solid black;
	height: 66px;
}

.cuerpo{
	width: 1198px;
	border: 1px solid black;
	height: 858px;
}

.headcol01{
	float: left;
	width: 596px;
	border-right: 2px solid black;
	height: 66px;
}

.headcol02{
	float: left;
	width: 598px;
	height: 66px;
}

.footcol01, .footcol02{
	float: left;
	width: 396px;
	border-right: 2px solid black;
	height: 66px;
}

.footcol03{
	float: left;
	width: 398px;
	height: 66px;
}