*{
	margin: 0px;
	padding: 0px;
}

.wrapper{
	width: 1000px;
	height: 1000px;
	margin: auto;
}

.footer{
	width: 996px;
	border: 2px solid black;
	height: 66px;
}

.cuerpo{
	width: 998px;
	border: 1px solid black;
	height: 858px;
}

.footcol01{
	float: left;
	width: 496px;
	border-right: 2px solid black;
	height: 66px;
}

.footcol02{
	float: left;
	width: 498px;
	height: 66px;
}