*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: steelblue;
}

.wrapper{
	width: 1000px;
	height: 700px;
	background-color: white;
	margin: 0px auto;
}

.texto{
	width: 500px;
	height: 700px;
	padding-left: 50px;
	padding-top: 20px;
	padding-right: 220px;
	float: left;
}

.gradiente{
	width: 230px;
	height: 700px;
	background-color: steelblue;
	float: left;
	background-image: linear-gradient(to right, white, lightblue, steelblue);
}