*{
	margin: 0px;
	padding: 0px;
}

html{
	display: table;
	width: 100%;
	height: 100%;
	margin: 0px auto;
}

body{
	background-color: steelblue;
	display: table-row;
}

.wrapper{
	display: table-cell;
	vertical-align: middle;
}

.celda1{
	float: left;
	width: 50%;
	height: 300px;
	min-width: 500px;
	background-image: url("salud.jpg");
}

.celda2{
	display: block;
	float: left;
	background-color: white;
	padding-top: 15px;
	padding-left: 25px;
	padding-bottom: 15px;
	width: 50%;
	height: 270px;
	min-width: 500px;
	text-align: left;
}

ul{
	list-style-type: none;
}

li{
	color: steelblue;
	font-size: 11px;
}

.titulo{
	border-radius: 5px;
	margin-right: 10px;
	background-color: steelblue;
	color: white;
	float: left;
}

.subtitulo{
	color: steelblue;
	float: left;
	font-weight: bold;
}

.foto{
	width: 300px;
	height: 300px;
}