*{
	margin: 0px;
	padding: 0px;
}

.wrapper{
	margin: 0px auto;
	width: 1000px;
	height: 700px;
}

.cabecera{
	background-color: #1F618D;
	border-radius: 5px;
	height: 30px;
	padding: 5px;
	text-align: center;
	color: ivory;
	font-weight: bold;
	font-size: 28px;
}

.cuerpo{
	height: 500px;
	padding-top: 5px;
	padding-bottom: 15px;
}

.barra{
	float: left;
	width: 200px;
	height: 300px;
	background-color: #1F618D;
	border-radius: 5px;
	margin-right: 20px;
}

.link{
	margin: 5px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: lightblue;
	font-weight: bold;
	font-size: 15px;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
}

.contenido{
	float: left;
	width: 780px;
	height: 480px;
	background-color: #1F618D;
	border-radius: 5px;
}

.texto{
	width: 200px;
	height: 160px;
	position: relative;
	left: 30px;
	top: 40px;
	background-color: lightblue;
	border-radius: 5px;
}

.pie{
	background-color: #1F618D;
	border-radius: 5px;
}

.ppie{
	text-align: right;
	height: 30px;
	padding: 5px;
	padding-right: 15px;
	font-weight: bold;
	color: ivory;
}

a{
	text-decoration: none;
	color: #1F618D;
}

a:visited{
	color: #1F618D;
}

a:active{
	color: #1F618D;
}