.tabla>div>div{
	width:100px;
	display:table-cell;
}

.tabla{
	display:table;
	margin:10px auto;
}

.tabla>div{
	display:table-row;
}

.encabezado{
	height: 25px;
}

.encabezado>div{
	background-image: url(../imgs/cuco.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.cuerpo{
	height: 15px;
}

.cuerpo>div{
	background-color: #ccc;
}




