*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: Helvetica;
}

.wrapper{
	width: 549px;
	height: 820px;
	margin: auto;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

.cabecera{
	width: 549px;
	height: 288px;
}

.enlaces{
	width: 549px;
	height: 26px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background-image: url("img/barranav.jpg");
}

.penlaces{
	color: ivory;
	font-size: 14px;
}

.relleno1{
	width: 549px;
	height: 30px;
	background-color: white;
}

.tabla{
	float: left;
	width: 200px;
	height: 500px;
}

.tablatitulo{
	height: 19px;
	padding: 10px;
	background-color: #0B6121;
	color: ivory;
	font-size: 13px;
	background-image: url("img/titlat3.jpg");
}

.busqueda{
	width: 200px;
	height: 70px;
	background-color: lightgreen;
}

.relleno2{
	width: 200px;
	height: 30px;
	background-color: white;
}

.registro{
	width: 180px;
	height: 30px;
	padding: 10px;
	background-color: lightgreen;
	font-size: 12px;
}

.info{
	padding: 20px;
	padding-left: 40px;
	background-color: lightgreen;
}

.contenido{
	width: 319px;
	padding: 15px;
	padding-top: 0px;
	float: left;
}

.pcontenido{
	font-size: 13px;
}

.busqueda{
	width: 160px;
	height: 60px;
	padding: 20px;
	background-color: lightgreen;
}

.pbusqueda{
	font-size: 12px;
	color: #006600;
}

.texto{
	float: left;
}

.boton{
	float: left;
	padding-left: 15px;
}

.radio{
	float: left;
	width: 20px;
}

.barra{
	width: 100px;
}

.fila1{
	height: 30px;
}

.fila2{
	height: 20px;
}

.fila3{
	height: 20px;
}

ul{
	list-style-type: square;
}

li{
	color: #006600;
	font-size: 12px;
}