*{
	margin: 0px;
	padding: 0px;
}

ul{
	list-style-type: none;
	background-color: lightblue;
}

.wrapper{
	border: 1px solid steelblue;
	height: 700px;
}

.barra{
	float: left;
}

.cuerpo{
	float: left;
}

.foto1{
	position: absolute;
	opacity: 0;
	left: 300;
	top: 200;
	background-image: url("f1.jpg");
	width: 280px;
	height: 210px;
}

.foto2{
	position: absolute;
	opacity: 0;
	left: 300;
	top: 200;
	background-image: url("f2.png");
	width: 277px;
	height: 173px;
}

.foto3{
	position: absolute;
	opacity: 0;
	left: 300;
	top: 200;
	background-image: url("f3.jpg");
	width: 280px;
	height: 210px;
}

.foto1:target, .foto2:target, .foto3:target{
	opacity: 1;
}