*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: Helvetica;
	background-image: url("img/fondo.gif");
	background-repeat: repeat;
}

.wrapper{
	width: 700px;
	height: 1200px;
	margin: auto;
	margin-top: 40px;
}

.cabecera{
	width: 700px;
	height: 106px;
	background-image: url("img/cabecera.jpg");
}

.enlaces{
	width: 675px;
	height: 24px;
	font-size: 10;
	padding: 5px;
	padding-left: 20px;
	background-color: lightblue;
}

.contenido{
	float: left;
	width: 360px;
	height: 760px;
	padding: 20px;
	background-color: white;
}

.tabla{
	float: left;
	width: 300px;
	height: 800px;
	background-color: ivory;
}

.tablatitulo{
	width: 270px;
	height: 20px;
	color: ivory;
	padding: 15px;
	font-size: 18px;
	background-color: steelblue;
}

.busqueda{
	width: 260px;
	height: 90px;
	padding: 20px;
	background-color: lightblue;
}

.texto{
	float: left;
}

.boton{
	float: left;
	padding-left: 15px;
}

.radio{
	float: left;
	width: 20px;
}


.fila1{
	height: 30px;
}

.fila2{
	height: 30px;
}

.fila3{
	height: 30px;
}

.registro{
	height: 40px;
	padding: 15px;
	color
}

.info{
	height: 60px;
	padding: 30px;
}

.relleno{
	background-color: white;
	height: 330px;
}

.pie{
	font-weight: bold;
	color: steelblue;
}

p{
	font-size: 14px;
}

.pbusqueda{
	font-size: 15px;
	color: steelblue;
}

.pregistro{
	font-size: 14px;
	color: steelblue;
}

ul{
	list-style-image: url("img/bullet.gif");
}

li{
	font-size: 14px;
	margin: 5px;
}