*{
	margin: 0px;
	padding: 0px;
}

body{
	color: white;
	font-family: showcard gothic;
	background-color: forestgreen;
}

ul{
	list-style-type: none;
}

.menu{
	margin-top: 15px;
	margin-left: 25px;
	margin-right: 25px;
	background-color: darkslategrey;
	border-left: 1px solid white;
	border-top: 1px solid white;
	height: 33px;
}

.menu ul li{
	font-size: 10px;
	float: left;
	font-family: Helvetica;
	font-weight: bold;
}

.menu ul li a{
	padding: 10px;
	height: 10px;
}

.menu ul li a:hover{
	background-color: white;
	color: darkslategrey;
}

.cabecera{
	position: absolute;
	width: 100%;
	height: 120px;
	background-color: darkgreen;
	z-index: -1;
}

.titulo{
	background-color: forestgreen;
	position: absolute;
	width: 62%;
	left: 15%;
	top: 20px;
	border: 5px solid darkgreen;
	padding: 50px;
	z-index: 10;
}

.fecha{
	text-align: right;
	font-size: 10px;
}

.cuerpo{
	position: relative;
	top: 159px;
	height: 800px;
	width: 1000px;
	margin: 0px auto;
	z-index: 1;
}

.col1{
	width: 20%;
	height: 800px;
	border: 5px solid darkgreen;
	border-top: 0px;
	float: left;
}

.col2{
	width: 52%;
	height: 800px;
	float: left;
}

.col3{
	width: 20%;
	height: 800px;
	border: 5px solid darkgreen;
	border-top: 0px;
	float: left;
	color: darkgreen;
}

.noticias{
	text-align: center;
	vertical-align: middle;
	padding: 50px;
	height: 600px;
}

.botonera{
	margin: 0px auto;
}

.botones{
	text-align: center;
	padding: 50px;
	color: darkgreen;
}

.boton:hover{
	border-left: 20px solid darkslategrey;
}

.boton{
	border-left: 20px solid white;
	background-color: darkgreen;
	width: 140px;
	padding: 10px;
	margin: 5px;
	height: 20px;
}

.texto{
	color: darkgreen;
	text-align: center;
	vertical-align: middle;
	height: 600px;
}

a{
	text-decoration: none;
	color: white;
	display: block;
}

a:visited{
	color: white;
}