/* reseteador */

*{
	margin:0px;
	padding:0px;
}

/* fin de reseteador */

.negrita{
	font-weight: bold;
	color: green;
}

ul{
	padding-left: 30px;
}

.segundo{
	margin-top: 100px;
}

#menu{
	list-style-type: none;

}

#menu>li{
	width: 250px;
	height: 50px;
	background-color: #CCC;
	text-align: center;
	line-height: 50px;
	margin: 5px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}