*{
	margin: 0px;
	padding: 0px;
}

.wrapper{
	width: 1000px;
	height: 1200px;
	margin: auto;
}

.header{
	width: 1000px;
	height: 50px;
}

.mitad1{
	float: left;
	border: 4px solid black;
	border-right: 1px solid black;
	width: 495px;
	height: 42px;
}

.mitad2{
	float: left;
	border: 4px solid black;
	border-left: 0px;
	width: 496px;
	height: 42px;
}

.cuerpo{
	float: left;
	width: 1000px;
	height: 1100px;
}

.botonera{
	float: left;
	border-left: 1px solid black;
	border-right: 1px solid black;
	width: 298px;
	height: 1100px;
}

.menu{
	width: 80px;
	height: 1100px;
	margin: 30px auto;
}

.texto{
	float: left;
	text-align: left;
	border-right: 1px solid black;
	width: 619px;
	margin-left: 30px;
	padding-top: 30px;
	padding-right: 50px;
	height: 1070px;
}

.boton{
	font-weight: bold;
	border: 1px solid black;
	width: 80px;
	height: 20px;
	text-align: center;
}

.separador{
	height: 20px;
}

.footer{
	float: left;
	border: 2px solid black;
	height: 46px;
	width: 996px;
}

