*{
	margin: 0px;
	padding: 0px;
}

#header{
	height: 40px;
}

#header.rojo{
	float: left;
	width: 200px;
	background-color: salmon;
}

#header.verde{
	float:left;
	width: 800px;
	background-color: lightgreen;
}

#wrapper{
	width: 1000px;
	margin: 10px;
}

#footer{
	height: 40px;
}

#footer.rojo{
	float: left;
	width: 600px;
}

#footer.azul{
	float: left;
	width: 400px;
	background-color: lightblue;
}