*{
	margin: 0px;
	padding: 0px;
}

html, body{
	width: 100%;
	height: 100%;
}

.caja{
	width: 100px;
	height: 100px;
	background-color: black;
	margin: 0px auto;
	transition: all 2s;
}

.caja:hover{
	width: 200px;
	background-color: blue;
	transition: all 6s;
}

.foto1{
	position: absolute;
	top: 300px;
	left: 300px;
	opacity: 0;
}


.foto1:target{
	opacity: 1;
}