*{
	margin: 0px;
	padding: 0px;
}

.modal{
	position: absolute;
	top: 200px;
	left: 200px;
	width: 100px;
	height: 100px;
	background-color: black;
	opacity: 0;
	transition: all 3s;
}


#foto1:target{
	opacity: 1;
}