*{
	margin: 0px;
	padding: 0px;
}

.wrapper{
	display: table;
	border: 2px solid black;
	margin: auto;
	width: 1000px;
	height: 700px;
}

.fila1, .fila3{
	display: table-row;
	height: 50px;
}

.fila2{
	display: table-row;
	height: 600px;
}

.celdasup{
	width: 996px;
	display: table-cell;
	border: 2px solid black;
}

.celdainf1{
	display: table-cell;
	width: 497px;
	border-left: 2px solid black;
	border-right: 1px solid black;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

.celdainf2{
	display: table-cell;
	width: 498px;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

.celdaizq{
	width: 331px;
	display: table-cell;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.celdacent{
	width: 333px;
	display: table-cell;
	border-right: 1px solid black;
}

 .celdader{
	width: 332px;
	display: table-cell;
	border-right: 1px solid black;
}