*{
	margin: 0px;
	padding: 0px;
}

.wrapper{
	display: table;
	border: 2px solid black;
	margin: auto;
	width: 1000px;
	height: 700px;
}

.fila1, .fila3{
	display: table-row;
	height: 50px;
}

.fila2{
	display: table-row;
	height: 600px;
}

.celdasup1{
	width: 497px;
	display: table-cell;
	border: 2px solid black;
	border-right: 1px solid black;
}

.celdasup2{
	width: 498px;
	display: table-cell;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

.celdainf1{
	display: table-cell;
	width: 330px;
	border-left: 2px solid black;
	border-right: 1px solid black;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

.celdainf2{
	display: table-cell;
	width: 334px;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

.celdainf3{
	display: table-cell;
	width: 330px;
	border-left: 1px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

.celdacent{
	width: 1000px;
	display: table-cell;
}