*{
	margin: 0px;
	padding: 0px;
}

.wrapper{
	display: table;
	border: 2px solid black;
	margin: auto;
	width: 1000px;
	height: 700px;
}

.fila1, .fila3{
	display: table-row;
	height: 50px;
}

.fila2{
	display: table-row;
	height: 650px;
}

.celdaizq{
	display: table-cell;
	width: 499px;
	border-left: 1px solid black;
	border-top: 1px solid black;
}

.celdader{
	display: table-cell;
	width: 498px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
}

.celdainf{
	width: 996px;
	display: table-cell;
	border: 2px solid black;
}