*{
	margin: 0px;
	padding: 0px;
}

#wrapper{
	border: 2px solid black;
	margin: auto;
	width: 1000px;
	height: 700px;
}

#fila1{
	width: 1000px;
	height: 100px;
}

#fila3{
	width: 1000px;
	height: 70px;
}

#fila2{
	width: 1000px;
	height: 530px;
}

#celdasup{
	float: left;
	width: 936px;
	height: 36px;
	background-color: orange;
	padding: 30px;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	border: 2px solid black;
}

#celdaizq{
	float: left;
	width: 269px;
	height: 470px;
	border-left: 2px solid black;
	border-right: 2px solid black;
	text-align: center;
	font-family: Arial;
	background-color: gold;
	padding: 30px;
	font-weight: bold;
}

#celdacent{
	float: left;
	width: 274px;
	height: 470px;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	background-color: yellow;
	padding: 30px;
}

#celdader{
	float: left;
	width: 269px;
	height: 470px;
	border-left: 2px solid black;
	border-right: 2px solid black;
	background-color: darkorange;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	padding: 30px;
}

#celdainf{
	width: 956px;
	height: 26px;
	border: 2px solid black;
	background-color: lightyellow;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	padding: 20px;
}