*{
	margin: 0px;
	padding: 0px;
}

#wrapper{
	margin: auto;
	width: 1000px;
	height: 700px;
}

#cabecera{
	width: 936px;
	height: 36px;
	padding: 30px;
	border: 2px solid black;
	background-color: orange;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
}

#nav{
	width: 996px;
	height: 46px;
	border: 2px solid black;
	background-color: yellow;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
}

#cuerpo{
	width: 1000px;
	height: 550px;
}

#enlaces{
	float: left;
	width: 156px;
	height: 506px;
	border: 2px solid black;
	background-color: tomato;
	vertical-align: middle;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	padding: 20px;	
}

#derecha{
	float: left;
	width: 800px;
	height: 550px;
}

#contenido{
	width: 758px;
	height: 438px;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	vertical-align: middle;
	background-color: gold;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	padding: 20px;
}

#pie{
	width: 758px;
	height: 28px;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	vertical-align: middle;
	background-color: lightyellow;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	padding: 20px;
}