*{
	margin: 0px;
	padding: 0px;
}

#wrapper{
	margin: auto;
	width: 1000px;
	height: 700px;
}

#cabecera{
	width: 936px;
	height: 36px;
	border: 2px solid black;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	padding: 30px;
	background-color: tomato;
}

#nav{
	width: 996px;
	height: 46px;
	border: 2px solid black;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	background-color: lightyellow;
}

#contenido{
	width: 896px;
	height: 346px;
	border: 2px solid black;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	padding: 50px;
	background-color: lightyellow;
}

#enlaces{
	width: 996px;
	height: 46px;
	border: 2px solid black;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	background-color: tomato;	
}

#pie{
	width: 996px;
	height: 46px;
	border: 2px solid black;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	background-color: lightyellow;
}