*{
	margin: 0px;
	padding: 0px;
}

.wrapper{
	margin: auto;
	width: 1000px;
	height: 700px;
}

.cabecera{
	width: 936px;
	height: 36px;
	border: 2px solid black;
	padding: 30px;
	background-color: gold;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
}

.cuerpo{
	width: 1000px;
	height: 530px;
}

.izq{
	float: left;
	width: 200px;
	height: 530px;
}

.nav{
	width: 198px;
	height: 265px;
	border-left: 2px solid black;
	background-color: yellow;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
}

.enlaces{
	width: 196px;
	height: 261px;
	border: 2px solid black;
	background-color: tomato;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
}

.contenido{
	float: left;
	width: 796px;
	height: 530px;
	border-left: 2px solid black;
	border-right: 2px solid black;
	background-color: yellow;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
}

.pie{
	width: 996px;
	height: 66px;
	border: 2px solid black;
	background-color: lightyellow;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
}
