*{
	margin: 0px;
	padding: 0px;
}

.contenedor{
	width: 1000px;
	height: 1000px;
}

.menu{
	float: left;
	width: 300px;
	height: 1000px;
	background-color: darkgreen;
}

.centro{
	float: left;
	width: 400px;
	height: 1000px;
}

.titulo{
	width: 400px;
	height: 50px;
	background-color: lightgreen;
}

.contenido{
	width: 400px;
	height: 900px;
	background-color: white;
}

.pie{
	width: 400px;
	height: 50px;
	background-color: dimgray;
}