*{
	margin: 0px;
	padding: 0px;
}

html,body{
	width: 100%;
	height: 100%;
}

body{
	background: #CCC;
}

.wrapper{
	width: 800px;
	background-color: rgba(0,0,0,25);
	margin: 20px auto;
}

#cabecera>.foto>img{
	width: 200px;
}

.foto{
	width: 250px;
	background-color: #000;
	float: left;
}

.header{
	width: 500px;
	float: right;
	background-color: #000;
}

.br.clear{
	clear: both;
}