*{
	margin: 0px;
	padding: 0px;
}

body{
}

.wrapper{
	width: 751px;
	height: 1000px;
	margin: 0px auto;
}

.cabecera{
	width: 735px;
	height: 335px;
	background-image: url("img/headerbg.gif");
	z-index: -20;
	padding: 8px;
	padding-top: 28px;
	padding-bottom: 28px;
	position: relative;
}

.contenido{
	width: 751px;
	height: 400px;
	background-image: url("img/contentbg.gif");
	background-repeat: repeat;
	z-index: -20;
}

.pie{
	background-image: url("img/contentbg.gif");
	background-repeat: repeat;
	z-index: -20;
	padding-bottom: 15px;
}

.pcontenido{
	font-size: 12px;
	color: ivory;
	padding-left: 15px;
	padding-top: 50px;
}

.ppie{
	font-size: 12px;
	color: ivory;
	text-align: center;
}

.lista{
	height: 30px;
	background-color: ivory;
	z-index: 1;
	position: absolute;
	bottom: 62px;
}

ul{
	list-style-type: none;
}

li{
	padding: 5px;
	padding-left: 15px;
	padding-right: 25px;
	float:left;
	color: steelblue;
	font-weight: bold;
}