*{
	margin: 0px;
	padding: 0px;
}

#main{
	width: 350px;
	background-color: lightgreen;
	margin: auto;
	height: 350px;
}

#texto{
	padding: 20px;
	height: 220px;
}

#fila1{
	height: 40px;
}

#fila2{
	height: 40px;
}

.boton{
	width: 50px;
	height: 30px;
	margin: 5px;
	float: left;
	color: ivory;
	border-radius: 10px;
	background-color: darkgreen;
	font-size: 10px;
	font-weight: bold;
	font-family: Arial;
	text-align: center;
}

#hola{
	font-size: 16px;
	font-weight: bold;
	font-family: Arial;
}

#descripcion{
	font-size: 10px;
	font-weight: bold;
	font-family: Arial;
}

.void{
	width: 50px;
	height: 30px;
	margin: 5px;
	float: left;
	background-color: lightgreen;
}

.relleno{
	width: 15px;
	height: 30px;
	float: left;
}