*{
	margin: 0px;
	padding: 0px;
}

.wrapper{
	width: 700px;
	height: 1000px;
	margin: auto;
}

.fila1{
	width: 700px;
	height: 200px;
}

.fila2{
	width: 700px;
	height: 200px;
}

.fila3{
	width: 700px;
	height: 200px;
}

.fila4{
	width: 700px;
	height: 400px;
}

#foto11{
	width: 340px;
	height: 190px;
	background-image: url("img/playa.jpg");
	float: left;
	margin: 5px;
}

#foto12{
	width: 340px;
	height: 190px;
	background-image: url("img/playa.jpg");
	float: left;
	margin: 5px;
}

#foto21{
	width: 165px;
	height: 190px;
	background-image: url("img/playa.jpg");
	float: left;
	margin: 5px;
}

#foto22{
	width: 165px;
	height: 190px;
	background-image: url("img/playa.jpg");
	float: left;
	margin: 5px;
}

#foto23{
	width: 165px;
	height: 190px;
	background-image: url("img/playa.jpg");
	float: left;
	margin: 5px;
}

#foto24{
	width: 165px;
	height: 190px;
	background-image: url("img/playa.jpg");
	float: left;
	margin: 5px;
}

#foto3{
	width: 690px;
	height: 190px;
	background-image: url("img/playa.jpg");
	float: left;
	margin: 5px;
}

#contenedor{
	width: 74px;
	height: 400px;
	float:left;
}

#cuadro{
	width: 64px;
	height: 64px;
	background-color: grey;
	margin: 5px;
}

#texto{
	width: 616px;
	height: 400px;
	float: left;
	margin: 5px;
}

