*{
	margin: 0px;
	padding: 0px;
	font-family: Arial;
}

.wrapper{
	width: 1060px;
	height: 670px;
	margin: auto;
	background-color: ivory;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.fila1{
	height: 150px;
}

#columna1{
	width: 528px;
	height: 140px;
	float: left;
	padding-right: 2px;
	padding-bottom: 10px;
}

#columna2{
	width: 528px;
	height: 140px;
	float: left;
	padding-left: 2px;
	padding-bottom: 10px;
}

#subfila11, #subfila12{
	padding-top: 5px;
	padding-left: 5px;
	height: 40px;
	background-color: crimson;
	border-radius: 5px;
}

#subfila21, #subfila22{
	padding-top: 5px;
	padding-left: 5px;
	height: 40px;
	background-color: ivory;
}

#subfila31, #subfila32{
	padding-top: 5px;
	padding-left: 5px;
	height: 40px;
	background-color: darkred;
	border-radius: 5px;
}

.fila2{
	height: 82px;
}

#sf1{
	height: 20px;
	background-color: crimson;
	border-radius: 5px;
	padding-left: 5px;
}

#sf2, #sf3, #sf4{
	height: 20px;
	background-color: darkred;
	border-radius: 5px;
	padding-left: 5px;
}

#sf2{
	margin-bottom: 1px;
}

#sf3{
	margin-bottom: 1px;
}

.fila3{
	width: 1060px;
	height: 428px;
	background-color: salmon;
}

.texto-blanco{
	color: ivory;

}

#void{
	width: 1000px;
	height: 200px;
	margin: 10px;
	margin-top: 2px;
	background-color: ivory;
}

#texto{
	width: 1000px;
	height: 98px;
	padding: 30px;
}

#boton{
	width: 100px;
	height: 40px;
	margin: 10px;
	text-align: center;
	background-color: red;
	border-radius: 5px;
}